{% if modelo_equipo not in modelos_soportados_y_version  | map(attribute='equipo') %}
{{ ' -- EL EQUIPO NO ESTA DENTRO DE LOS EQUIPOS SOPORTADOS -- ' | center }}
{% endif %}


{% if servicio not in servicios_soportados %}
{{ ' -- EL SERVICIO NO ESTA DENTRO DE LOS SERVICIOS SOPORTADOS -- ' | center }}
{% endif %}

{# ------------ CONFIGURACIONES COMUNES ------------ -#}
{{"------------ CONFIGURACIONES COMUNES ------------" | center }}

{# BANNER -#} 

banner login @ {{ Texto_Banner_Pre_Autenticacion }} @ 
banner exec @ {{ Texto_Banner_Post_Autenticacion }} @ 

{# FECHA_Y_HORA -#} 

clock set {{ hora_minuto_segundo }} {{ dia }} {{ mes }} {{ ano }}
{% if localizacion_canarias == false %}
clock timezone MET 1
{% endif %}
clock summer-time METDST recurring last Sun Mar 2:00 last Sun oct 3:00 

{# HOSTNAME -#} 

hostname {{ Mnemonico_EDC }} 

{# Desactivacion de servicios no necesarios -#}  

no cdp run
no service tcp-small-servers 
no service udp-small-servers 
no service finger
no service dhcp
{% if modelo_equipo != "Cisco C1000"  %}
no ip source-route             
{% endif %}
no ip domain-lookup
no service config
no ip bootp server 
{# !! no ip bootp server !! si da error en algunos modelos no pasa nada -#} 
no ip name-server

service nagle
service tcp-keepalives-in
ip subnet-zero
service timestamps debug datetime localtime msec show-timezone
service timestamps log datetime localtime msec show-timezone

{# GESTION POR LOOPBACK -#} 

interface loopback 600
description Direccion IP de gestion EDC
ip address {{IPGestion}} 255.255.255.255
no ip directed-broadcast
no ip proxy-arp
no shutdown
exit

ip tftp source-interface Loopback 600
ip ftp source-interface Loopback 600
ip tacacs source-interface Loopback 600
logging source-interface Loopback 600
snmp-server trap-source Loopback 600
ntp source Loopback 600



{# ------------------------ CONTROL DE ACCESO AL EDC ------------------------ -#}
{{"------------------------ CONTROL DE ACCESO AL EDC ------------------------" | center }}

{# ------------ ESCENARIOS CON EDC SIMPLE ------------ -#}


{# Activacion del servicio de encriptado de passwords -#} 

service password-encryption

{# Configuracion de la contrasena de acceso al modo enable  -#} 

enable secret {{Password_Enable}}

{# Se crea un usuario local que permitira el acceso al equipo via consola y remoto  -#} 

username {{Usuario}} secret {{Password_Usuario}}


{#  Habilita el acceso SSH al equipo  -#} 

{% if modelo_equipo =="Cisco ASR903" or modelo_equipo =="Cisco ASR920" or modelo_equipo =="Cisco ASR1000" or modelo_equipo =="Familia ISR4000" or modelo_equipo =="Familia ISR1100" or modelo_equipo =="Cisco ASR1009-X" %}
ip domain name {{Mnemonico_EDC}}
{% else %}
ip domain-name {{Mnemonico_EDC}}
{% endif %}

crypto key generate rsa
{# !! se queda esperando a meter el valor  -#} 
1024
ip ssh version 2


{#  Filtro para controlar los accesos remotos al equipo - MacroLAN, VPNIP y DataInternet  -#} 

{% if servicio == "MacroLAN" or  servicio == "VPNIP" or servicio == "DataInternet" %}

    access-list 52 remark Accesos Remotos
    {% for CentroGestion in CentrosGestion_MACROLAN_VPNIP_DATAINTERNET %}
    access-list 52 permit {{CentroGestion.IP_CentroGestion}} {{CentroGestion.MascaraInversa}} 
    {% endfor %}

    access-list 52 permit host {{IP_PE_1}}
    access-list 52 permit host {{IP_PE_2}}

    {% if VLAN_Servicio_respaldo %}
    access-list 52 permit host {{IP_PE_3}}
    access-list 52 permit host {{IP_PE_4}}
    {% endif %}

    access-list 52 deny any

{% endif %}

{#  Filtro para controlar los accesos remotos al equipo - Servicios SILAN e Ibercom Punto Central  -#} 

{% if servicio == "SILAN" or  servicio == "Ibercom Punto Central" or servicio == "DataInternet" %}

    access-list 52 remark Accesos Remotos
    {% for CentroGestion in CentrosGestion_SILAN_IBERCOM %}
    access-list 52 permit {{CentroGestion.IP_CentroGestion}} {{CentroGestion.MascaraInversa}} 
    {% endfor %}
    access-list 52 permit  {{Red_VLAN_Gestion}}  {{MascaraInversa_VLAN_Gestion}}
    access-list 52 deny any

{% endif %}

{#  Configuracion extra  -#} 

line con 0
login local
exec-timeout   {{Timeout}}  
exit

{% if tiene_puerto_auxiliar %}

{% if modelo_equipo != "Cisco ASR920" and modelo_equipo != "Cisco ASR903" and modelo_equipo != "Familia ISR4000" and modelo_equipo != "Familia ISR1100" %} 

line aux 0
login local
exec-timeout   {{Timeout}}   
transport input telnet ssh
transport output telnet ssh
access-class 52 in
exit

{% endif %}
{% endif %}

line vty 0 4
login local
exec-timeout  {{Timeout}} 
transport input telnet ssh
transport output telnet ssh
access-class 52 in
exit

line vty 5 15
transport input none
transport output none
exit

{% if modelo_equipo == "Familia ISR1100" or modelo_equipo == "Familia ISR4000" %}
line 2
transport input none
exit
{% endif  %}


{#  Desactivacion de los servidores HTTP/HTTPS  -#} 

no ip http server
no ip http secure-server


{# ------------ ESCENARIOS CON DOS o MAS EDC ------------ -#}

{% if servicio == "VARIOS EDC" %}

    no access-list 52

    access-list 52 remark Accesos Remotos
    {% for CentroGestion in CentrosGestion_MACROLAN_VPNIP_DATAINTERNET %}
    access-list 52 permit {{CentroGestion.IP_CentroGestion}} {{CentroGestion.MascaraInversa}} 
    {% endfor %}

    access-list 52 permit host {{IP_PE_1}}
    access-list 52 permit host {{IP_PE_2}}

    {% if VLAN_Servicio_respaldo %}
    access-list 52 permit host {{IP_PE_3}}
    access-list 52 permit host {{IP_PE_4}}
    {% endif %}

    {% for IP_LAN_EDC in IPs_LAN_EDC  %}
    access-list 52 permit host  {{IP_LAN_EDC.IP}} 
    {% endfor %}

    access-list 52 deny any

{% endif  %}

{# ------------------------ Configuracion TACACS+ ------------------------ -#}
{{"------------------------ Configuracion TACACS+ ------------------------" | center }}

{#  Creacion de un nuevo modelo de AAA -#} 

aaa new-model
no tacacs-server directed-request

{#  Configuracion de los servidores TACACS+ -#} 

{% for servidor_TACACS in servidores_TACACS %}
tacacs server TACACS+_{{loop.index}} 
address ipv4  {{servidor_TACACS.IP_Servidor}} 
key  {{servidor_TACACS.CLAVE_Servidor}} 
exit
{% endfor %}

aaa group server tacacs+ TACACS+CG
{% for servidor_TACACS in servidores_TACACS %}
server name TACACS+_{{loop.index}} 
{% endfor %}
exit

{#  MODELO ANTIGUO TACACS+ -#} 

{% for servidor_TACACS in servidores_TACACS %}
tacacs-server host  {{servidor_TACACS.IP_Servidor}}  key  {{servidor_TACACS.CLAVE_Servidor}} 
{% endfor %}

aaa group server tacacs+ TACACS+CG

{% for servidor_TACACS in servidores_TACACS %}
server  {{servidor_TACACS.IP_Servidor}} 
{% endfor %}
exit


{#  Configuracion de los parametros de autenticacion por TACACS+. -#} 

aaa authentication login default group TACACS+CG local
aaa authentication enable default group TACACS+CG enable

{#  Configuracion del accounting de comandos por TACACS+ -#} 

aaa accounting exec default start-stop group TACACS+CG
aaa accounting commands 0 default start-stop group TACACS+CG
aaa accounting commands 1 default start-stop group TACACS+CG
aaa accounting commands 15 default start-stop group TACACS+CG


{# !! es necesario finalizar la sesion y entrar de nuevo en el equipo con los nuevos credenciales para continuar con la configuracion -#} 

{#  Configuracion de la autorizacion de comandos por TACACS+ -#} 

aaa authorization exec default group TACACS+CG if-authenticated
aaa authorization commands 0 default group TACACS+CG local
aaa authorization commands 1 default group TACACS+CG local
aaa authorization commands 15 default group TACACS+CG local


{# ------------------------ Configuracion NTP  ------------------------ -#}
{{"------------------------ Configuracion NTP  ------------------------" | center }}

{% for servidor_NTP in servidores_NTP %}
{% if loop.first  %}
ntp server  {{servidor_NTP.IPServidor}}  prefer
{% else %}
ntp server  {{servidor_NTP.IPServidor}}
{% endif %}
{% endfor %}

access-list 53 remark Gestion NTP

{% for servidor_NTP in servidores_NTP %}
access-list 53 permit host  {{servidor_NTP.IPServidor}} 
{% endfor %}

access-list 53 deny any
ntp access-group peer 53


{# ------------------------ Configuracion SNMP ------------------------ -#}
{{"------------------------ Configuracion SNMP ------------------------" | center }}


{#  Filtro para controlar los accesos de lectura SNMP -#} 

access-list 50 remark Gestion SNMP lectura
{% for servidor_SNMP in servidores_SNMP %}
access-list 50 permit host  {{servidor_SNMP.CentroGestion}} {{servidor_SNMP.MascaraInversa}} 
{% endfor %}
access-list 50 deny any


{#  Filtro para controlar los accesos de lectura/escritura SNMP -#} 

access-list 51 remark Gestion SNMP escritura 
{% for servidor_SNMP in servidores_SNMP %}
access-list 51 permit {{servidor_SNMP.CentroGestion}} {{servidor_SNMP.MascaraInversa}} 
{% endfor %}
access-list 51 deny any

{#  Datos administrativos -#} 

snmp-server location  {{Localizacion_EDC}} 
snmp-server chassis-id  {{Mnemonico_EDC}} 
snmp-server contact  {{Persona_de_Contacto}} 

{#  Comunidades de lectura y lectura/escritura -#} 

snmp-server community  {{Comunidad_SNMP_Lectura}}  RO 50
snmp-server community  {{Comunidad_SNMP_Escritura}}  RW 51

{#  Control de accesos TFTP -#} 

{% if modelo_equipo == "Cisco C9200L" or modelo_equipo == "Cisco C9300L" %}
snmp-server file-transfer access-group 51 protocol tftp
{% endif %}
snmp-server tftp-server-list 51

{#  Se anade persistencia a los indices de los interfaces del equipo. -#} 

snmp-server ifindex persist


{# ------------------------ Activacion de traps SNMP ------------------------ -#}
{{"------------------------ Activacion de traps SNMP ------------------------" | center }}

{# ------------ MacroLAN ------------ -#}

{% if servicio == "MacroLAN" %}

    snmp-server enable traps
    no snmp-server enable traps snmp authentication
    no snmp-server enable traps syslog

    {% if Ejecutar_Comando %}
    no snmp-server enable traps isdn
    snmp-server enable traps isdn call-information
    {% endif %}

{% endif %}

{# ------------ VPNIP ------------ -#}

{% if servicio == "VPNIP" %}

    {% if modelo_equipo != "Cisco C1000" and modelo_equipo != "Cisco C9200L" and modelo_equipo != "Cisco C9300L" %}
    snmp-server enable traps isdn call-information 
    {% endif %}

    snmp-server enable traps config
    snmp-server enable traps entity

    {% if modelo_equipo != "Cisco ASR1001-X" and modelo_equipo != "Cisco ASR1009-X" and modelo_equipo != "Cisco ASR920" and modelo_equipo != "Cisco ASR903" and modelo_equipo != "Familia ISR4000" and modelo_equipo != "Familia ISR1100" %}
    snmp-server enable traps envmon
    {% endif %}

    {% if modelo_equipo != "Cisco C1000" and modelo_equipo != "Cisco C9200L" and modelo_equipo != "Cisco C9300L" %}
    snmp-server enable traps bgp 
    snmp-server enable traps frame-relay 
    snmp-server enable traps rtr 
    {% endif %}

    {% if Ejecutar_Comando %}
    snmp-server enable traps isdn 
    {% endif %}

    snmp-server enable traps snmp linkup linkdown coldstart warmstart

    {% if modelo_equipo != "Cisco C1000" and modelo_equipo != "Cisco C9200L" and modelo_equipo != "Cisco C9300L" %}
    snmp-server enable traps atm pvc
    {% endif %}

{% endif %}

{# ------------ DataInternet ------------ -#}

{% if servicio == "DataInternet" %}

    snmp-server enable traps config

    {% if modelo_equipo != "Cisco ASR1001-X" and modelo_equipo != "Cisco ASR1009-X" and modelo_equipo != "Cisco ASR920" and modelo_equipo != "Cisco ASR903" and modelo_equipo != "Familia ISR4000" and modelo_equipo != "Familia ISR1100" %} 
    snmp-server enable traps envmon
    {% endif %}

    {% if modelo_equipo != "Cisco C1000" and modelo_equipo != "Cisco C9200L" and modelo_equipo != "Cisco C9300L" %}
    snmp-server enable traps bgp 
    snmp-server enable traps rtr 
    {% endif %}

    snmp-server enable traps snmp linkup linkdown coldstart warmstart

    {% if modelo_equipo != "Cisco C1000" and modelo_equipo != "Cisco C9200L" and modelo_equipo != "Cisco C9300L" %}
    snmp-server enable traps atm pvc 
    {% endif %}

{% endif %}

{# ------------ SILAN e Ibercom Punto Central ------------ -#}

{% if servicio == "SILAN" or servicio == "Ibercom Punto Central" %}

    snmp-server enable traps

{% endif %}


{# ------------------------ Configuracion de RMON ------------------------ -#}
{{"------------------------ Configuracion de RMON ------------------------" | center }}


{# ------------ MacroLAN, VPNIP y DataInternet ------------ -#}

{% if servicio == "MacroLAN" or  servicio == "VPNIP" or servicio == "DataInternet" %}


    {#  Definicion de EVENTOS y ALARMAS RMON para variables MIB de una unica instancia -#} 

    rmon event 100 log trap  {{Comunidad_Lectura_1}}  description NUM_INTERFACES_HA_CAMBIADo owner config
    rmon event 200 log trap  {{Comunidad_Lectura_1}}  description MEMoRIA_LIBRE_SUPERIoR_A_500K owner config
    rmon event 201 log trap  {{Comunidad_Lectura_1}}  description MEMoRIA_LIBRE_INFERIoR_A_500K owner config
    rmon event 300 log trap  {{Comunidad_Lectura_1}}  description SUPERADo_UMBRAL_DE_USo_DE_CPU owner config
    rmon event 301 log trap  {{Comunidad_Lectura_1}}  description USo_DE_CPU_ACEPTABLE owner config
    rmon alarm 100 interfaces.1.0 900 delta rising-threshold 1 100 falling-threshold -1 100 owner config
    rmon alarm 200 lsystem.8.0 3600 absolute rising-threshold 500000 200 falling-threshold 500000 201 owner config
    rmon alarm 300 lsystem.58.0 900 absolute rising-threshold 70 300 falling-threshold 55 301 owner config

    {#  Definicion de EVENTOS y ALARMAS RMON para variables MIB de varias instancias -#} 

    rmon event 52 log trap  {{Comunidad_Lectura_2}}  description DESCARTES_DE_ENTRADA_MAL owner config 
    rmon event 53 log trap  {{Comunidad_Lectura_2}}  description DESCARTES_DE_ENTRADA_BIEN owner config 
    rmon event 54 log trap  {{Comunidad_Lectura_2}}  description ERRORES_DE_ENTRADA_MAL owner config 
    rmon event 55 log trap  {{Comunidad_Lectura_2}}  description ERRORES_DE_ENTRADA_BIEN owner config 
    rmon event 56 log trap  {{Comunidad_Lectura_2}}  description DESCARTES_DE_SALIDA_MAL owner config 
    rmon event 57 log trap  {{Comunidad_Lectura_2}}  description DESCARTES_DE_SALIDA_BIEN owner config 
    rmon event 58 log trap  {{Comunidad_Lectura_2}}  description ERRORES_DE_SALIDA_MAL owner config 
    rmon event 59 log trap  {{Comunidad_Lectura_2}}  description ERRORES_DE_SALIDA_BIEN owner config 
    rmon event 62 log trap  {{Comunidad_Lectura_2}}  description ERRORES_COLISIONES owner config
    rmon event 63 log trap  {{Comunidad_Lectura_2}}  description ERRORES_COLISIONES_RECUPERADAS owner config
    {% for alarma in monitorizacion_variables_MIB %}
    rmon alarm {{alarma.codigo_alarma}} {{alarma.OID}} {{alarma.instancia}} {{alarma.Y}}  delta rising-threshold  {{alarma.Z}}  {{alarma.Evento_SUBIDA}} falling-threshold  {{alarma.Z1}}  {{alarma.Evento_BAJADA}} owner config 
    {% endfor %}

{% endif %}

{#  mostrar el numero de identificacion de indice SNMP para todos los interfaces -#} 

{% if version_IOS_equipo.split('.') | map('int') | list >= [12, 2, 2]  %}
show snmp mib ifmib ifindex 
{% else %}
/opt/oV/bin/snmpwalk -v 1 -c {{SNMP_Ro_1}} {{IP_Gestion_1}} ifDescr
{% endif %}


{# ------------ SILAN ------------ -#}

{% if servicio == "SILAN" %}

    rmon event 46 log trap  {{Comunidad_Lectura_3}}  description ERRORES_CoLISIoNES owner config
    rmon event 47 log trap  {{Comunidad_Lectura_3}}  description ERRORES_CoLISIoNES_RECUPERADAS owner config
    rmon event 100 log trap  {{Comunidad_Lectura_3}}  description NUM_INTERFACES_HA_CAMBIADO owner config
    rmon event 200 log trap  {{Comunidad_Lectura_3}}  description MEMORIA_LIBRE_SUPERIOR_A_500K owner config
    rmon event 201 log trap  {{Comunidad_Lectura_3}}  description MEMORIA_LIBRE_INFERIOR_A_500K owner config
    rmon event 300 log trap  {{Comunidad_Lectura_3}}  description SUPERADO_UMBRAL_DE_USO_DE_CPU owner config
    rmon event 301 log trap  {{Comunidad_Lectura_3}}  description USO_DE_CPU_ACEPTABLE owner config
    rmon alarm 100 ifNumber.0 900 delta rising-threshold 1 100 falling-threshold -1 100 owner config
    rmon alarm 200 lsystem.8.0 3600 absolute rising-threshold 500000 200 falling-threshold 500000 201 owner config
    rmon alarm 300 lsystem.58.0 900 absolute rising-threshold 70 300 falling-threshold 55 301 owner config
    rmon alarm 46001 lifEntry.25.10001 900 delta rising-threshold 100 46 falling-threshold 100 47 owner config

{% endif %}

{# ------------ Ibercom Punto Central ------------ -#}

{% if servicio == "Ibercom Punto Central" %}

    rmon event 46 log trap  {{Comunidad_Lectura_4}}  description ERRORES_COLISIoNES owner config
    rmon event 47 log trap  {{Comunidad_Lectura_4}}  description ERRORES_COLISIoNES_RECUPERADAS owner config
    rmon event 100 log trap  {{Comunidad_Lectura_4}}  description NUM_INTERFACES_HA_CAMBIADO owner config
    rmon event 200 log trap  {{Comunidad_Lectura_4}}  description MEMORIA_LIBRE_SUPERIOR_A_500K owner config
    rmon event 201 log trap  {{Comunidad_Lectura_4}}  description MEMORIA_LIBRE_INFERIOR_A_500K owner config
    rmon event 300 log trap  {{Comunidad_Lectura_4}}  description SUPERADO_UMBRAL_DE_USO_DE_CPU owner config
    rmon event 301 log trap  {{Comunidad_Lectura_4}}  description USO_DE_CPU_ACEPTABLE owner config
    rmon alarm 100 interfaces.1.0 900 delta rising-threshold 1 100 falling-threshold -1 100 owner config
    rmon alarm 200 lsystem.8.0 3600 absolute rising-threshold 500000 200 falling-threshold 500000 201 owner config
    rmon alarm 300 lsystem.58.0 900 absolute rising-threshold 70 300 falling-threshold 55 301 owner config
    rmon alarm 46001 1.3.6.1.4.1.9.2.2.1.1.25. {{X}}  900 delta rising-threshold 100 46 falling-threshold 100 47 owner config

{% endif %}

{#  mostrar el numero de identificacion de indice SNMP para todos los interfaces -#} 

{% if version_IOS_equipo.split('.') | map('int') | list >= [12, 2, 2]  %}
show snmp mib ifmib ifindex 
{% else %}
/opt/oV/bin/snmpwalk -v 1 -c {{SNMP_RO_2}} {{IP_Gestion_2}} ifDescr
{% endif %}



{# ------------------------ Configuracion de SYSLOG ------------------------ -#}
{{"------------------------ Configuracion de SYSLOG ------------------------" | center }}


logging buffered  {{Tamano_Buffer}}  debugging
no logging console
logging facility  {{Local_x}} 
logging  {{IPServidorSyslog}} 
logging trap informational
logging rate-limit console 10 except errors


