{# ------------------------ Configuracion de SYSLOG ------------------------ -#}
{{"------------------------ Configuracion de SYSLOG ------------------------" | center }}


logging buffered  {{Tamano_Buffer}}  debugging
no logging console
logging facility  {{Local_x}} 
logging  {{IPServidorSyslog}} 
logging trap informational
logging rate-limit console 10 except errors