{# PLANTILLA GESTION CISCO -#} 

{% include 'comprobaciones.j2' %}

{% include 'conf_comunes.j2' %}

{% include 'acceso_EDC.j2' %}

{% include 'tacacs.j2' %}

{% include 'NTP.j2' %}

{% include 'SNMP.j2' %}

{% include 'traps_SNMP.j2' %}

{% include 'RMON.j2' %}

{% include 'syslog.j2' %}
