# THIS IS A COMMENT

banner login @ {{ Texto_Banner_Pre_Autenticacion }} @ 
banner exec @ {{ Texto_Banner_Post_Autenticacion }} @

clock set {{ hora_minuto_segundo }} {{ dia }} {{ mes }} {{ ano }}
{% if localizacion_canarias == false %}
clock timezone MET 1
{% endif %}
clock summer-time METDST recurring last Sun Mar 2:00 last Sun Oct 3:00

hostname {{ Mnemonico_EDC }}


no cdp run
no service tcp-small-servers 
no service udp-small-servers 
no service finger
no service dhcp
{% if modelo_equipo != "Catalyst_1000" %}
no ip source-route
{% endif %}
no ip domain-lookup
no service config
no ip bootp server
no ip name-server

service nagle
service tcp-keepalives-in
ip subnet-zero
service timestamps debug datetime localtime msec show-timezone
service timestamps log datetime localtime msec show-timezone


interface loopback 600
description Direccion IP de gestion EDC
ip address {{IPGestion}} 255.255.255.255
no ip directed-broadcast
no ip proxy-arp
no shutdown
exit

ip tftp source-interface Loopback 600
ip ftp source-interface Loopback 600
ip tacacs source-interface Loopback 600
logging source-interface Loopback 600
snmp-server trap-source Loopback 600
ntp source Loopback 600

