rmon event 52 log trap  {{Comunidad_Lectura_2}}  description DESCARTES_DE_ENTRADA_MAL owner config 
rmon event 53 log trap  {{Comunidad_Lectura_2}}  description DESCARTES_DE_ENTRADA_BIEN owner config 
rmon event 54 log trap  {{Comunidad_Lectura_2}}  description ERRORES_DE_ENTRADA_MAL owner config 
rmon event 55 log trap  {{Comunidad_Lectura_2}}  description ERRORES_DE_ENTRADA_BIEN owner config 
rmon event 56 log trap  {{Comunidad_Lectura_2}}  description DESCARTES_DE_SALIDA_MAL owner config 
rmon event 57 log trap  {{Comunidad_Lectura_2}}  description DESCARTES_DE_SALIDA_BIEN owner config 
rmon event 58 log trap  {{Comunidad_Lectura_2}}  description ERRORES_DE_SALIDA_MAL owner config 
rmon event 59 log trap  {{Comunidad_Lectura_2}}  description ERRORES_DE_SALIDA_BIEN owner config 
rmon event 62 log trap  {{Comunidad_Lectura_2}}  description ERRORES_COLISIONES owner config
rmon event 63 log trap  {{Comunidad_Lectura_2}}  description ERRORES_COLISIONES_RECUPERADAS owner config
{% for alarma in monitorizacion_variables_MIB %}
rmon alarm {{alarma.codigo_alarma}} {{alarma.OID}} {{alarma.instancia}} {{alarma.Y}}  delta rising-threshold  {{alarma.Z}}  {{alarma.Evento_SUBIDA}} falling-threshold  {{alarma.Z1}}  {{alarma.Evento_BAJADA}} owner config 
{% endfor %}
