{# THIS IS A COMMENT #} 

access-list 50 remark Gestion SNMP lectura
{% for servidor_SNMP in servidores_SNMP %}
access-list 50 permit host  {{servidor_SNMP.CentroGestion}} {{servidor_SNMP.MascaraInversa}} 
{% endfor %}
access-list 50 deny any
