{% for router in routers %}
  hostname {{ router.hostname }}
  ip routing
  {% for intf, idata in router.interfaces.items() %}
    interface {{ intf | default('SIN INTERFACES')}}
    ip address {{ idata.ip | default(' ') }}/{{ idata.mask | default(' ') }}
  {% endfor %}  
{% endfor %}
