{% for router in routers %}
  hostname {{ router.hostname }}
  ip routing
  {% if router.interfaces %}
    {% for intf, idata in router.interfaces.items() %}
      interface {{ intf }}
      ip address {{ idata.ip  }}/{{ idata.mask }}
    {% endfor %} 
    {% else %}
      exit
  {% endif %}
  {% if router.routing_protocol == 'bgp' %}
    router bgp {{ router.bgp.as }}
      router-id {{ router.interfaces.Loopback0.ip }}
      network {{ router.interfaces.Loopback0.ip }}/{{ router.interfaces.Loopback0.mask }}
  {% elif router.routing_protocol == 'ospf' %}
    router ospf {{ router.ospf.pid }}
      router-id {{ router.interfaces.Loopback0.ip }}
      network {{ router.interfaces.Loopback0.ip }}/{{ router.interfaces.Loopback0.mask }} area 0
  {% else %}
    ip route 0.0.0.0/0 {{ router.default }}
  {% endif %}
{% endfor %}
