!
{%- for interface in interfaces %}
interface {{ interface.name }}
  description {{ interface.description | default("NO DESCRIPTION") }}
  ip address {{ interface.address }}
  load-interval {{ interface.load_interval }}
  {%- if interface.enabled is defined and interface.enabled == true %}
  no shutdown
  {%- endif %}

!
{%- endfor %}
!
