{% macro fabricante1(ip_net) %} {{ ip_net|ipaddr('network') }} {{ ip_net|ipaddr('hostmask')}} {% endmacro %}

{% macro fabricante2(ip_net) %} {{ ip_net|ipaddr('network') }} {{ ip_net|ipaddr('netmask') }} {% endmacro %}


{% macro print_ACL(aclobj, sintaxis_fabricante) %}
{% for line in aclobj %}
 permit {{ line.prot }} {{ sintaxis_fabricante(line.ip) }} {% if line.prot in ['udp', 'tcp'] %} eq {{ line.port }}{% endif %}
{% endfor %}
{% endmacro %}


{% for net in networks %}
ip access-list extended {{ net.name }}
{% for service in net.services %}
{{ print_ACL(services[service], output.fabricante) }}
{% endfor %}
{% endfor %}
